:host{
  position: absolute;
  left: 5rem;
}

h1{
  font-size: 40px;
  text-align: center;
}

.products-row{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 50px;
}

.filter-button {
  display: flex;
  align-items: center;
  gap: 5px;
}

.product{
  margin-top: 2rem;
}

.price{
  margin-top: -1rem;
  color:grey
}

.text{
  font-size: 20px;
}

.buy-button{
  width: 300px;
}
